.projectContainer {
    position: absolute;
    left: 5%;
    top: 73%;
    /* background: red; */
    width: 90%;
    height: 23%;
    border-radius: 25px;
}

.secondProject {
    margin-left: 55%;
}

@media screen and (max-width: 391px) {

    .projectContainer {
        height: 36%;
    }

    .secondProject {
        margin-top: 134%;
        margin-left: 0;
    }
}