.skillContainer {
    position: absolute;
    left: 30%;
    /* background: yellow; */
    width: 70%;
    height: 100%;
    border-radius: 25px;
}


@media screen and (max-width: 391px) {
    .skillContainer {
        left: 50%;
        transform: translateX(-50%);
        top: 24%;
        width: 95%;
        height: 76%;
    }
}

@media screen and (max-width: 415px) {
    .skillContainer {
        left: 50%;
        transform: translateX(-50%);
        top: 24%;
        width: 95%;
        height: 76%;
    }
}